html{
    height: 100%;
}


body{
    font-family: arial, helvetica;
    background: #FFFFFF;   
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    max-width: 1000%px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

.footer{
    margin-top: auto;   
    background: #092327;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.menu{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}


.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.img{

    display: block;
    margin: 30px auto;
    max-width: 80%;
}

